
Relazione/Relazione.synctex.gz
Relazione/Relazione.out
*.blg
*.aux
Relazione/Relazione-blx.bib
Relazione/Relazione.fdb_latexmk
Relazione/Relazione.bbl
Relazione/Relazione.fls
Relazione/Relazione.log
Relazione/Relazione.run.xml
*.fdb_latexmk
*.fls
*.log
*.ilg
*.bcf
*.toc
Relazione/1-introduction.pdf
Relazione/2-section.pdf
